.hero-section{
    background-image: url('/src/images/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}
.hero-section .title{
    font-size: 72px;
}
.logo{
    width: 90px;
}