.book{
    background-color:#499075;
}
.manage-books .book img{
    width: 50px;
}
.manage-books .book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 64px;
}

/* Tablet view */
@media only screen and (max-width: 768px) {
    .manage-books .book{
        flex-direction: column;
        justify-content: space-between;
    }
  }
  
  /* mobile view*/
  @media only screen and (max-width: 480px) {
    .res-grid{
      display: grid;
      grid-template-columns: repeat(1, 1fr) !important;
      grid-gap: 16px;
    }
    .res-h{font-size: 38px !important;}
  }